<h1>Rock Paper Scissors</h1>
<p>Choose your move:</p>
<form action="/results">
  <button type="submit" name="move" value="rock">Rock</button>
  <button type="submit" name="move" value="paper">Paper</button>
  <button type="submit" name="move" value="scissors">Scissors</button>
<form>
