<%= erb :_head %>
<div class="winner">
  <p>The winner is: <%= @move[0] %></p>
</div>

<div class="computer">
  <p>The computer chose: <img src="<%= @url %>" /></p>
</div>

<a href="/"><button class="return" value="return">Return</button></a>
